 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Machine Learning</h2>
      <i class="cib-probot"></i>
      <p>Machine learning is more than just scikit-learn. I also enjoy the math and theory behind the algorithms.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="cid-code"></i>
      <p>You need programming skills to accomplish desireable results. Python has become my go-to programming language.</p>
    </div>
    <div class="tech">
      <h2>Data Analytics</h2>
      <i class="cis-chart"></i>
      <p>Creating beautiful and compelling visualizations is something that I enjoy.</p>
    </div>
</div>

<section class="home-about-area section-gap">

			<div class="text-center">
					<div class="menu-content">
							<div class="title text-center">
									<h1 class="mb-10">Skills Expertisse</h1>
									  1 - Basic <span style="display: inline-block; width: 2ch;">	</span>
										 2 - Novice <span style="display: inline-block; width: 2ch;">	</span>
										 3 - Intermediate<span style="display: inline-block; width: 2ch;">	</span>
										  <p>4 - Advanced<span style="display: inline-block; width: 2ch;">	</span>
											 5 - Expert</p><p>

							</p></div>

					</div>
			</div>








<div class="container">
		<div class="row skillbar-wraps">
			<div class="col-lg-4 skill-left">
				<h4 class="text-center pt-50"> Devops </h4>
				<div class="single-skill">
					<p>
						Databases (SQL) -   5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Servers (Linux / Bash) -   4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Big Data (HIVE / Spark) - 3
					</p>
					<div class="skill sb_progress" data-width="60" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 60%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>
			</div>




			<div class="col-lg-4 skill-right">
				<h4 class="text-center pt-50">Machine Learning</h4>
				<div class="single-skill">
					<p>
						Python - 5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>
				<div class="single-skill">
					<p>
						Computer Vision (TensorFlow) - 4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						NLP (Spacy / TensorFlow) - 4
					</p>
					<div class="skill sb_progress" data-width="80" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 80%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

			</div>

			<div class="col-lg-4 skill-right">
				<h4 class="text-center pt-50"> Data Analytics </h4>

				<div class="single-skill">
					<p>
						Teaching / Presenting - 5
					</p>
					<div class="skill sb_progress" data-width="100" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 100%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>

				<div class="single-skill">
					<p>
						Statistical Methods - 3
					</p>
					<div class="skill sb_progress" data-width="60" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 60%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>


				<div class="single-skill">
					<p>
						Visualization (Tableau) - 2
					</p>
					<div class="skill sb_progress" data-width="40" style="position: relative; width: 100%; background-color: rgb(221, 221, 221); height: 30px;"><div class="sb_bar" style="position: absolute; width: 40%; height: 100%; background-color: rgb(51, 122, 183);"><div class="sb_label" style="padding-left: 5px; line-height: 30px; color: rgb(255, 255, 255);"></div></div></div>
				</div>





			</div>

		</div>
	</div>

	</section>
