 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Machine Learning</h2>
      <i class="cib-probot"></i>
      <p>Machine learning is more than just scikit-learn. I also enjoy the math and theory behind the algorithms.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="cid-code"></i>
      <p>You need programming skills to accomplish desireable results. Python has become my go-to programming language.</p>
    </div>
    <div class="tech">
      <h2>Data Analytics</h2>
      <i class="cis-chart"></i>
      <p>Creating beautiful and compelling visualizations is something that I enjoy.</p>
    </div>
</div>
